.bg-position-picker {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  cursor: crosshair;
}

/* Checkerboard grid */
.bg-position-picker::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    rgba(245, 245, 245, 0.2) 0% 25%,
    /* Lighter gray */ rgba(221, 221, 221, 0.2) 0% 50% /* Darker gray */
  );
  background-size: 20px 20px;
  z-index: 1;
  pointer-events: none; /* Allows interaction with the layer below */
}

.snap-line {
  position: absolute;
  background-color: rgba(0, 122, 255, 0.4);
  z-index: 3;
  pointer-events: none;
}

.snap-line.vertical {
  width: 2px;
  height: 100%;
  top: 0;
  transform: translateX(-1px);
}

.snap-line.horizontal {
  height: 2px;
  width: 100%;
  left: 0;
  transform: translateY(-1px);
}

.snap-line.left {
  left: 0%;
}
.snap-line.center.vertical {
  left: 50%;
}
.snap-line.right {
  left: 100%;
}

.snap-line.top {
  top: 0%;
}
.snap-line.center.horizontal {
  top: 50%;
}
.snap-line.bottom {
  top: 100%;
}

.bg-position-dot {
  width: 14px;
  height: 14px;
  background-color: #007aff;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
